@import url(https://fonts.googleapis.com/css?family=Impact:300,600);
@import url(https://fonts.googleapis.com/css?family=sans-serif:300,600);

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
     }
}


* {
    box-sizing: border-box;
}

body {
    background-color: #04303b;
}

.about-page {
    overflow: hidden;
}

.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
    display: flex;
    flex-wrap: wrap;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

h1 {
    background-color: #0db4ba; 
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    color: #04303B;
    font-family: 'Impact', Impact;
    font-size: 50px;
    text-align: center;
}

.opening-quote > h1 {
    font-family: "Calibri";
    font-size: 60px;
    margin-top: 15%;
}

.home-button {
    animation: shadow-pulse 1.5s infinite;
    background-color: #0db4ba;
    color: #04303b;
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 37.5%;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
}

.home-button:hover {
    background-color: #49c1c6;
    cursor: pointer;
}

.background-image {
    left:0;
    top:0;
    position: absolute;
    opacity: 0.2;
    overflow: hidden;
    width: 100%;
    z-index:-2;
}



h2 {
    background-color: #0db4ba;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Verdana';
    padding: 10px;
}



.story-project-title > h2 {
    margin-top: 40px;
}

.board-game-poject-title > h2 {
    margin-top: 40px;
}



.resume {
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
}

.resume > header > h2 {
    background-color: white;
    box-shadow: none;
    color: black;
}

.resume > h3 {
    background-color: white;
    box-shadow: none;
    color: black;
}



p {
    background-color: #49c1c6;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 10px;
}



.adventure-story-info > p{
    margin-top: -20px;
    margin-bottom: 20px;
}

.digital-board-game-info > p {
    margin-top: -20px;
    margin-bottom: 20px;
}



.resume > p {
    background-color: white;
    box-shadow: none;
    color: black;
}



nav {
    margin-left: 0;
    position: relative;
    text-align: right;
    width: 100%;
}

.current-page {
    background-color: #098387;
}

.current-page:hover {
    background-color: #098387;
}



button {
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    background: green;
}

a {
    font-family: 'Arial', sans-serif;
    margin-left: 5px;
    width: 20%;
}

nav > a {
    background-color: #0db4ba;
    border-right: 1px solid #fff;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Calibri';
    font-size: 25px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;
}

nav > a:nth-child(1) {
    border-left: 1px solid #fff;
}

nav > a:hover {
    background-color: #64cfd3;
}

a:hover {
    cursor: pointer;
}


.attribute-nav > nav{
    margin-left: 58.34%;
}

.attributes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon-buttons {
    display: inline-block;
}

.button {
      border: none;
      display: inline-table;
      position: relative;
      background: transparent;
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-family: 'Calibri';
      font-size: 18px;
      text-decoration: none;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .button:before, .button:after {
      width: 100%;
      left: 0px;
      height: 27px;
      z-index: -1;
  }


  .attribute1,
  .attribute2,
  .attribute3,
  .attribute4
  { box-shadow: 0 16px 12px -12px black; color: #b7fff1; }
  

  .attribute1:before,.attribute1:after,
  .attribute2:before,.attribute2:after,
  .attribute3:before,.attribute3:after,
  .attribute4:before,.attribute4:after 
  { border: 3px solid #49c1c6; }
  
  
  .button:before {
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);  
  }
  .button:after {
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
  }
  

  .attribute1:hover:before, .attribute1:hover:after,
  .attribute2:hover:before, .attribute2:hover:after,
  .attribute3:hover:before, .attribute3:hover:after,
  .attribute4:hover:before, .attribute4:hover:after 
  { background: #49c1c6; }

  .button:hover {
      color:#fff;
  }

.attribute1-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.attribute1-paragraph {
    margin-right: 20px;
    margin-top: -20px;
    width: 50%;
}


.attribute2-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.attribute2-paragraph {
    margin-right: 20px;
    margin-top: -20px;
    width: 50%;
}


.attribute3-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.attribute3-paragraph {
    margin-right: 20px;
    margin-top: -20px;
    width: 50%;
}

.attribute3-image {
    box-shadow: 4px 4px 4px black;
}


.attribute4-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.attribute4-paragraph {
    margin-right: 20px;
    margin-top: -20px;
    width: 50%;
}

.attribute1-image > img {
    box-shadow: 4px 4px 4px black;
}

.attribute-next {
    display: flex;
    justify-content: flex-end;
}

.attribute1-4 {
    display: flex;
    justify-content: space-between;
}

.attribute-previous {
    display: flex;
    justify-content: flex-start;
}

.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.personality-test {
    margin-top: -20px;
    width: 50%;
}

.personality-test > h2 {
    margin-bottom: -20px;
}

.personality-test > p > a{
    color: #04303b;
    font-size: 18px;
    margin-left: 0;
}

.architect {
    margin-bottom: 100%;
}

.personality {
    margin-bottom: 100%;
}

.image-expla {
    margin-top: -40px;
}

.personality-test > p > a:visited {
    color: purple;
}

.hard-work {
    box-shadow: 4px 4px 4px black;
    position: absolute;
    margin-left: 640px;
    margin-top: -352px;
    width: 639px;
}

.problem-solve {
    position: absolute;
    margin-left: 640px;
    margin-top: -424px;
    width: 639px;
}

.fast-learn {
    box-shadow: 4px 4px 4px black;
    position: absolute;
    margin-left: 640px;
    margin-top: -352px;
    width: 639px;
}

.team-play {
    position: absolute;
    margin-left: 604px;
    margin-top: -530px;
    width: 839px;
}



.adventure-story {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.adventure-story-info > h2 {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 30px;
}

.adventure-story-info > p {
    margin-right: 20px;
}

.board-game {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.digital-board-game-info > h2 {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 30px;
}

.digital-board-game-info > p {
    margin-right: 20px;
}

.in-story-image {
    opacity: 0.4;
}

.in-story-image:hover {
    opacity: 0.6;
}

.in-game-image {
    opacity: 0.4;
}

.in-game-image:hover {
    opacity: 0.6;
}

.overlay {
    color: #fff;
    font-family: 'Calibri';
    font-size: 30px;
    opacity: 0.8;
    pointer-events: none;
    position: relative;
    text-align: center;
}

.adventure-story-image > .overlay {
    margin-top: -37.5%;
}

.board-game-image > .overlay {
    margin-top: -55%;
}


.resume {
    background-color: white;
    box-shadow: 4px 4px 4px black;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.resume > p {
    font-family: "Times New Roman", Times, serif;
}

.resume-title > h2 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.resume-location > h3 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.LinkedIn {
    font-family: "Times New Roman", Times, serif;
}

.digital-file {
    font-family: "Times New Roman", Times, serif;
}

.resume > ul{
    font-family: "Times New Roman", Times, serif;
}



.contact-me > h2 {
    position: relative;
    z-index: 1;
}

.contact-me > p {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

.email-link {
    color: blue;
    font-family: "Calibri";
    margin-left: 0;
}

.contact > h2 {
    position: relative;
    z-index: 1;
}

.LinkedIn {
    color: #04303b;
    margin-left: 0;
    margin-right: 2%;
    position: relative;
    z-index: 1;
}

.Github {
    position: relative;
    z-index: 1;
}

.logo1 {
    opacity: 0.8;
    width: 100px;
    height: 100px;
}

.logo1:hover {
    opacity: 1;
}

.logo2 {
    opacity: 0.8;
    width: 100px;
    height: 100px;
}

.logo2:hover {
    opacity: 1;
}

.container {
    margin-top: -348px;
    position: relative;
}

form {
    background-color: #0db4ba;
    box-shadow: 4px 4px 4px black;
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    width: 420px;
}

label {
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
    margin-left: 10px;
}

input, textarea {
	width: 400px;
    height: 40px;
    background: #fff;
    border: none;
    padding: 10px;
    margin-top: 3px;
    font-family: 'Calibri';
    font-size: 18px;
    color: #04303b;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

input:focus, textarea:focus {
    border: 1px solid #04303b;
}

textarea {
	height: 200px;
}

#submit {
    background-color: #098387;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Calibri';
    font-size: 20px;
    width: 400px;
    height: 38px;
    margin-top: -20px;
}

#submit:hover {
    background-color: #49c1c6;
}

.confirmation {
    font-family: 'Calibri';
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 420px;
}