* {
    box-sizing: border-box;
}

.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-s {width: 49%;}

.row {
    display: flex;
    flex-wrap: wrap;
}

@import url(https://fonts.googleapis.com/css?family=Impact:300,600);
@import url(https://fonts.googleapis.com/css?family=sans-serif:300,600);

h1 {
    border: 1px solid black;
    font-family: 'Impact', Impact;
    font-size: 50px;
    text-align: center;
}

nav {
    border: 1px solid black;
    left: 58.33%;
    position: relative;
    text-align: right;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    background: green;
}

a {
    border: 1px solid black;
}

a:hover {
    cursor: pointer;
}

p {
    font-family: 'Arial Black', sans-serif;
}


.button {
      border: none;
      display: inline-block;
      position: relative;
      background: transparent;
      width:200px;
      height:60px;
      line-height:60px;
      text-align:center;
      font-family:'Arial', sans-serif;
      font-size:18px;
      text-decoration:none;
      margin-left: 4.16%;
      margin-right:4.16%;
  }
  .button:before, .button:after {
      width:200px;
      left: 0px;
      height:27px;
      z-index: -1;
  }


  .attribute1{ color: violet; }
  .attribute2{ color: indigo; }
  .attribute3{ color: slateblue; }
  .attribute4{ color: mediumseagreen; }

  .attribute1:before,.attribute1:after {
      border: 3px solid violet;
  }
  .attribute2:before,.attribute2:after {
      border: 3px solid indigo;
  }
  .attribute3:before,.attribute3:after {
      border: 3px solid slateblue;
  }
  .attribute4:before,.attribute4:after {
      border: 3px solid mediumseagreen;
  }
  
  .button:before {
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);  
  }
  .button:after {
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
  }
  

  .attribute1:hover:before, .attribute1:hover:after {
      background: violet;
  }
  .attribute2:hover:before, .attribute2:hover:after {
      background: indigo;
  }
  .attribute3:hover:before, .attribute3:hover:after {
      background: slateblue;
  }
  .attribute4:hover:before, .attribute4:hover:after {
      background: mediumseagreen;
  }

  .button:hover {
      color:#fff;
  }
