.home-page, main {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
     }
     100% {
          box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
     }
}


* {
    box-sizing: border-box;
}

body {
    background-color: #04303b;
}

.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
    display: flex;
    flex-wrap: wrap;
}

.slides {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

.slides img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.slides {display: none}

.slideshow-container {
  max-width: 1280px;
  position: relative;
  margin: auto;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-top: -10%;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #0db4ba;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15%;
  background-color: #fff;
  border-radius: 50%;
  
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0db4ba;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.2}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.2}
}



h1 {
    background-color: #0db4ba; 
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    color: #04303B;
    font-family: 'Impact', Impact;
    font-size: 50px;
    text-align: center;
}

.opening-quote > h1 {
    font-family: "Calibri";
    font-size: 50px;
    margin-top: 15%;
}

.home-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-button > button {
    animation: shadow-pulse 1.5s infinite;
    background-color: #0db4ba;
    color: #04303b;
    font-family: 'Arial Black';
    font-size: 30px;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
}

.home-button > button:hover {
    background-color: #49c1c6;
    cursor: pointer;
}

.background-image {
    left:0;
    top:0;
    position: absolute;
    opacity: 0.6;
    overflow: hidden;
    width: 100%;
    z-index:-2;
}



h2 {
    background-color: #0db4ba;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Verdana';
    padding: 10px;
}



.story-project-title > h2 {
    margin-top: 40px;
}

.board-game-poject-title > h2 {
    margin-top: 40px;
}



.resume > header > h2 {
    background-color: white;
    box-shadow: none;
    color: black;
}

.resume > h3 {
    background-color: white;
    box-shadow: none;
    color: black;
}



p {
    background-color: #49c1c6;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 10px;
}



.adventure-story-info > p{
    margin-top: -20px;
    margin-bottom: 20px;
}

.digital-board-game-info > p {
    margin-top: -20px;
    margin-bottom: 20px;
}



.resume > p {
    background-color: white;
    box-shadow: none;
    color: black;
}



nav {
    margin-left: auto;
    position: relative;
    text-align: right;
    width: 575px;
}

.current-page {
    background-color: #098387;
}

.current-page:hover {
    background-color: #098387;
}



button {
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    background: green;
}

a {
    font-family: 'Arial', sans-serif;
    margin-left: 5px;
    width: 20%;
}

nav > a {
    background-color: #0db4ba;
    border-right: 1px solid #fff;
    box-shadow: 4px 4px 4px black;
    color: #fff;
    font-family: 'Calibri';
    font-size: 25px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;
}

nav > a:nth-child(1) {
    border-left: 1px solid #fff;
}

nav > a:hover {
    background-color: #64cfd3;
}

a:hover {
    cursor: pointer;
}

.attribute-nav{
    display: flex;
    justify-content: flex-end;
}

.attributes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon-buttons {
    display: inline-block;
}

.button {
      border: none;
      display: inline-table;
      position: relative;
      background: transparent;
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-family: 'Calibri';
      font-size: 18px;
      text-decoration: none;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .button:before, .button:after {
      width: 100%;
      left: 0px;
      height: 27px;
      z-index: -1;
  }


  .attribute1,
  .attribute2,
  .attribute3,
  .attribute4
  { box-shadow: 0 16px 12px -12px black; color: #b7fff1; }
  

  .attribute1:before,.attribute1:after,
  .attribute2:before,.attribute2:after,
  .attribute3:before,.attribute3:after,
  .attribute4:before,.attribute4:after 
  { border: 3px solid #49c1c6; }
  
  
  .button:before {
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);  
  }
  .button:after {
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
  }
  

  .attribute1:hover:before, .attribute1:hover:after,
  .attribute2:hover:before, .attribute2:hover:after,
  .attribute3:hover:before, .attribute3:hover:after,
  .attribute4:hover:before, .attribute4:hover:after 
  { background: #49c1c6; }

  .button:hover {
      color:#fff;
  }

.attribute1-content, .attribute2-content, .attribute3-content, .attribute4-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.attribute1-paragraph, .attribute2-paragraph, .attribute3-paragraph, .attribute4-paragraph {
    margin-right: 20px;
    margin-top: -20px;
}

.attribute3-image > img {
    box-shadow: 4px 4px 4px black;
}

.attribute1-image > img {
    box-shadow: 4px 4px 4px black;
}

.attribute-next {
    display: flex;
    justify-content: flex-end;
}

.attribute-next2, .attribute-next-prev2, .attribute-prev2 {
    display: none;
}

.attribute-next-prev {
    display: flex;
    justify-content: space-between;
}

.attribute-prev {
    display: flex;
    justify-content: flex-start;
}

.attribute1-4 {
    display: flex;
    justify-content: space-between;
}

.attribute-previous {
    display: flex;
    justify-content: flex-start;
}

.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.personality-test {
    margin-top: -20px;
    width: 50%;
}

.personality-test > h2 {
    margin-bottom: -20px;
}

.personality-test > p > a{
    color: #04303b;
    font-size: 18px;
    margin-left: 0;
}

.test-images {
    display: flex;
    justify-content: space-between;
}

.architect > img {
    margin-bottom: 100%;
    width: 200px;
}

.personality > img {
    margin-bottom: 100%;
    width: 200px;
}

.image-expla {
    margin-top: -40px;
}

.personality-test > p > a:visited {
    color: purple;
}

.attribute1-image > img, .attribute2-image > img, .attribute3-image > img, .attribute4-image > img {
    width: 400px;
}

.adventure-story {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.adventure-story-info > h2 {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 30px;
}

.adventure-story-info > p {
    margin-right: 20px;
}

.board-game {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.digital-board-game-info > h2 {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 30px;
}

.digital-board-game-info > p {
    margin-right: 20px;
}

.in-story-image {
    opacity: 0.4;
}

.in-story-image:hover {
    opacity: 0.6;
}

.in-game-image {
    opacity: 0.4;
}

.in-game-image:hover {
    opacity: 0.6;
}

.overlay {
    color: #fff;
    font-family: 'Calibri';
    font-size: 30px;
    opacity: 0.8;
    pointer-events: none;
    position: relative;
    text-align: center;
}

.adventure-story-image > .overlay {
    margin-top: -37.5%;
}

.board-game-image > .overlay {
    margin-top: -55%;
}



.resume {
    background-color: white;
    box-shadow: 4px 4px 4px black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 66.66%;
}

.resume > p {
    font-family: "Times New Roman", Times, serif;
}

.resume-title > h2 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.resume-location > h3 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.LinkedIn {
    font-family: "Times New Roman", Times, serif;
}

.digital-file {
    font-family: "Times New Roman", Times, serif;
}

.resume > ul{
    font-family: "Times New Roman", Times, serif;
}


.letter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 66.66%;
}

.letter-of-recomendation {
    background-color: white;
    box-shadow: 4px 4px 4px black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 66.66%;
}

.letter-of-recomendation > header > p, .recomendation > p, .letter-of-recomendation > footer > p {
    background-color: transparent;
    box-shadow: none;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 0;
    margin-top: -15px;
}

.recomendation-content {
    text-indent: 50px;
}



.contact-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    margin-right: 20px;
}

.contact-me > h2 {
    margin-top: 0px;
    z-index: 1;
}

.contact-me > p {
    margin-top: -20px;
    z-index: 1;
}

.email-link {
    color: blue;
    font-family: "Calibri";
    margin-left: 0;
}

.contact > h2 {
    margin-top: -20px;
    z-index: 1;
}

.LinkedIn {
    color: #04303b;
    margin-left: 0;
    margin-right: 2%;
    z-index: 1;
}

.Github {
    z-index: 1;
}

.logo1 {
    opacity: 0.8;
    width: 100px;
    height: 100px;
}

.logo1:hover {
    opacity: 1;
}

.logo2 {
    opacity: 0.8;
    width: 100px;
    height: 100px;
}

.logo2:hover {
    opacity: 1;
}

form {
    background-color: #0db4ba;
    box-shadow: 4px 4px 4px black;
    padding-top: 5px;
    width: 400px;
}

label {
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
    margin-left: 10px;
}

input, textarea {
	width: 380px;
    height: 40px;
    background: #fff;
    border: none;
    padding: 10px;
    margin-top: 3px;
    font-family: 'Calibri';
    font-size: 18px;
    color: #04303b;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

input:focus, textarea:focus {
    border: 1px solid #04303b;
}

textarea {
    height: 200px;
    resize: none;
}

#submit {
    background-color: #098387;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Calibri';
    font-size: 20px;
    width: 380px;
    height: 38px;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: #49c1c6;
}


@media only screen and (max-width: 888px) {
    .opening-quote > h1 {
        font-size: 40px;
    }

    .home-button > button {
        font-size: 30px;
        width: 50%;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .personality-test {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .test-images {
        width: 100%;
    }

    .architect, .personality {
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0;
    }

    .attribute1-image > img, .attribute2-image > img, .attribute3-image > img, .attribute4-image > img {
        width: 200px;
    }

    .adventure-story {
        flex-direction: column;
    }

    .adventure-story-info > p, .adventure-story-info > h2 {
        margin: 0;
    }

    .adventure-story-image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .board-game {
        flex-direction: column;
        margin-top: 150px;
    }

    .digital-board-game-info > p, .digital-board-game-info > h2 {
        margin: 0;
    }

    .board-game-image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .resume, .letter, .letter-of-recomendation {
        width: 91.66%;
    }

    form {
        width: 200px;
    }

    input, textarea, #submit {
        width: 180px;
    }
}



@media only screen and (max-width: 688px) {
    h1 {
        font-size: 30px;
    }

    .opening-quote > h1 {
        font-size: 30px;
    }

    .home-button > button {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    nav {
        width: 372px;
    }

    nav > a {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hexagon-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .architect > img{
        width: 100px;
    }

    .personality > img {
        width: 150px;
    }

    .attribute-next, .attribute-next-prev, .attribute-prev {
        display: none;
    }

    .attribute1-content, .attribute2-content, .attribute3-content, .attribute4-content {
        flex-direction: column;
    }

    .attribute1-paragraph, .attribute2-paragraph, .attribute3-paragraph, .attribute4-paragraph {
        margin-right: 0px;
    }

    .attribute1-image, .attribute2-image, .attribute3-image, .attribute4-image {
        margin-left: auto;
        margin-right: auto;
    }

    .attribute4-image, .attribute-prev2 {
        margin-top: -20px;
    }

    .attribute-next2, .attribute-prev2 {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .attribute-next2 {
        margin-top: 10px;
    }

    .attribute-next-prev2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }

    .adventure-story-info > h2, .digital-board-game-info > h2 {
        padding-bottom: 10px;
    }

    .in-story-image, .in-game-image {
        width: 250px;
    }

    .overlay {
        margin-left: 5px;
    }

    .resume, .letter, .letter-of-recomendation {
        width: 100%;
    }

    .contact, .contact-me > h2, .contact-me > p, .social-medias-header {
        width: 100%;
    }

    .letter-of-recomendation header > p, .recomendation > p, .letter-of-recomendation > footer > p {
        font-size: 14px;
    }

    .social {
        display: flex;
        justify-content: center;
    }

    .social-medias {
        display: flex;
        justify-content: space-between;
        width: 280px;
    }

    .Github {
        margin-right: 44px;
    }

    .contact-main {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    form {
        margin-top: 20px;
        width: 280px;
    }

    input, textarea, #submit {
        width: 260px;
    }
}

@media only screen and (max-width: 402px) {

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
        width: 100%;
    }

    nav > a {
        border-left: 1px solid white;
        font-size: 20px;
        margin-bottom: 1px;
        width: 105px;
    }

    body {
        overflow-x: hidden;
    }
}