@import url(https://fonts.googleapis.com/css?family=Impact:300,600);
@import url(https://fonts.googleapis.com/css?family=sans-serif:300,600);

* {
    box-sizing: border-box;
}

.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-s {width: 49%;}

.row {
    display: flex;
    flex-wrap: wrap;
}

.opening-quote > h1 {
    font-family: "Calibri";
}

h1 {
    border: 1px solid black;
    font-family: 'Impact', Impact;
    font-size: 50px;
    text-align: center;
}

.opening-quote {
    margin-top: 25%;
}

.opening-quote > h1 {
    font-size: 40px;
}

h2 {
    font-family: 'Verdana';
}

p {
    font-family: 'Calibri';
    font-size: 18px;
}

nav {
    border: 1px solid black;
    left: 58.33%;
    position: relative;
    text-align: right;
}

.current-page {
    background-color: lightseagreen;
}

.current-page:hover {
    background-color: lightseagreen;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    background: green;
}

a {
    border: 1px solid black;
    font-family: 'Arial', sans-serif;
    width: 20%;
}

nav > a:hover {
    background-color: yellow;
}

a:hover {
    cursor: pointer;
}


.button {
      border: none;
      display: inline-block;
      position: relative;
      background: transparent;
      width:200px;
      height:60px;
      line-height:60px;
      text-align:center;
      font-family:'Calibri';
      font-size:20px;
      text-decoration:none;
      margin-left: 4.16%;
      margin-right:4.16%;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .button:before, .button:after {
      width:200px;
      left: 0px;
      height:27px;
      z-index: -1;
  }


  .attribute1{ color: darkslategray; }
  .attribute2{ color: indigo; }
  .attribute3{ color: slateblue; }
  .attribute4{ color: mediumseagreen; }

  .attribute1:before,.attribute1:after {
      border: 3px solid darkslategray;
  }
  .attribute2:before,.attribute2:after {
      border: 3px solid indigo;
  }
  .attribute3:before,.attribute3:after {
      border: 3px solid slateblue;
  }
  .attribute4:before,.attribute4:after {
      border: 3px solid mediumseagreen;
  }
  
  .button:before {
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);  
  }
  .button:after {
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
  }
  

  .attribute1:hover:before, .attribute1:hover:after {
      background: darkslategray;
  }
  .attribute2:hover:before, .attribute2:hover:after {
      background: indigo;
  }
  .attribute3:hover:before, .attribute3:hover:after {
      background: slateblue;
  }
  .attribute4:hover:before, .attribute4:hover:after {
      background: mediumseagreen;
  }

  .button:hover {
      color:#fff;
  }

.attribute1-next {
    margin-left: 8.35%;
    margin-right: 0;
}

.attribute4-previous {
    margin-left: 8.35%;
    margin-right: 0;
}

.container {
    margin-top: 25%;
}

.resume > p {
    font-family: "Times New Roman", Times, serif;
}

.resume-title > h2 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.resume-location > h3 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.LinkedIn {
    font-family: "Times New Roman", Times, serif;
}

.digital-file {
    font-family: "Times New Roman", Times, serif;
}

.resume > ul{
    font-family: "Times New Roman", Times, serif;
}

form {
    margin:0 auto;
    width:459px;
}

label {
    font-family: 'Arial', sans-serif;
}

/* Style the text boxes */
input, textarea {
	width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:213px;
}

#submit {
    width:439px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
    background-color: green;
}

.confirmation {
    text-align: center;
}